body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.navigation{
  width: 100%;
  height: 80px;
}

.navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    position: fixed;
    background-color: black;
    height: 100px;
    width: 100%;
}

.logosite{
 font-family: Inter;
 font-size: 40px;
 color: rgb(177, 75, 75);
padding: auto;
margin-left: 2%;

}

.iconenavnar{
  display: flex;
  flex-direction: row;
  margin-left: 40%;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-image{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.search{
  margin-left: 32%;
  margin-top: 5px;
  height: 40px;
  width: 500px;
  border-radius: 10px 0 0 10px;
  position: relative;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;  
}

.interface{
  display: flex;
  flex-direction: row;
}
.barderecherche{
  display: flex;
  flex-direction: row;
}
.searchbar{
  margin-top: 5px;
  height: 40px;
  width: 50px;
  border-radius: 0 10px 10px 0;
  border: none;
}

